<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=DM+Serif+Text&family=IBM+Plex+Serif:wght@700&family=Open+Sans:wght@300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <main>
        <header>
            <div class="header-container">
                <a href="/"><h1 class="title">Saadhan</h1></a>
                <nav>
                    <a href="/">Home</a>
                    <a href="/blogs">Blogs</a>
                    <a href="/write">Write</a>
                </nav>
            </div>
        </header>